blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 15px;
    color: #777;
    background-color: rgba(66, 185, 131, .1);
}

strong {
    padding: 0 1px;
	color: #da2323;
}

.theme-default-content code {
    color: #e96900;
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    background-color: #f9f9f9;
    border-radius: 3px;
}